# Arquivos de Dependência
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Arquivos de Ambiente
.env
.env.backup
.env.production

# Arquivos IDE e OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Laravel Estrutura
/storage/*.key
/public/storage
/public/hot
/public/build
/bootstrap/cache/*.php

# Logs e Cache
/storage/logs/*.log
!/storage/logs/.gitignore
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*

# Ferramentas
Homestead.yaml
Homestead.json
.phpunit.result.cache
.php-cs-fixer.cache
