services:
  app:
    build:
      context: ./listBooksLaravel
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www
    volumes:
      - ./listBooksLaravel:/var/www
      - ./docker/scriptsDocker/permissions.sh:/usr/local/bin/permissions.sh
    entrypoint: ["sh", "/usr/local/bin/permissions.sh"]
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - laravel

  web:
    image: nginx:alpine
    container_name: laravel_web
    ports:
      - "8080:80"
    volumes:
      - ./listBooksLaravel:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

